@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

}

<div class="text-center mb-5">
    @*<h1 class="display-4">Welcome</h1>*@
    <h3 class="display-411">@Model.TenantName</h3>
    <h5 class="display-41">Pharma Management System</h5>
    @*<hr />*@

    <p class="d-none">Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>

    <div class="row mb-3">
        @if (User.IsInRole(Data.Constants.ApplicationRoles.AdministratorRoleName))
        {
            <div class="col-md">
                <div class="card shadow-sm card-body text-center mb-3">
                    <a asp-area="Administrator" asp-page="/index" class="text-decoration-none">
                        <span class="fas fa-fw fa-lg fa-user-shield"></span> Administrator
                    </a>
                </div>
            </div>
        }

        @if (User.IsInRole(Data.Constants.ApplicationRoles.StaffRoleName))
        {
            <div class="col-md">
                <div class="card shadow-sm card-body text-center mb-3">
                    <a asp-area="Staff" asp-page="/Index" class="text-decoration-none">
                        <span class="fas fa-fw fa-lg fa-user"></span> Staff
                    </a>
                </div>
            </div>
        }

        @if (User.IsInRole(Data.Constants.ApplicationRoles.CustomerRoleName))
        {
            <div class="col-md">
                <div class="card shadow-sm card-body text-center mb-3">
                    <a asp-area="Customer" asp-page="/Index" class="text-decoration-none">
                        <span class="fas fa-fw fa-lg fa-user"></span> Customer
                    </a>
                </div>
            </div>
        }




    </div>

</div>

